<h2>{{news.title}}</h2>
<span id="newsId" newsId={{news._id}}></span>
<span id="userId" userId={{user._id}}></span>
<h3>{{news.newsUrl}}</h3>
<p>Análise de especialista: {{news.specText}}</p>
<p>Fonte: {{news.sourceUrl}}</p>
{{!-- <p>{{news.resultadoApi}}</p> --}}
<h5>Votação dos membros</h5>
<p>Verdadeiro: {{news.truthVotes}} voto(s)</p>
<button class="btn btn-success vote-button invisible" id="voteTruth">Verdadeiro</button>
<p>Falso: {{news.fakeVotes}} voto(s)</p>
<button class="btn btn-danger vote-button invisible" id="voteFake">Falso</button>

<div>
    <span id="message">{{message}}</span>
</div>

<script src="/javascripts/news.js"></script>

